<% include ../partials/header




 %>

  <script type = "text/javascript" src = "./testfile.js"> </script>

  <script>

  var usern = "<%=user.id  %>";


  </script>

   <nav class = "brown		">
    <div class="nav-wr">
   
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/requests">Requests</a></li>
        <li><a href="/all">All Books</a></li>
      </ul>
    </div>
  </nav>s